#exclude everything except .emacs and emacs.d
/*
!.emacs
!/.emacs.d
/.emacs.d/*
!/.emacs.d/ac-comphist.dat
!/.emacs.d/elpa
!/.emacs.d/snippets
/.emacs.d/elpa/gnupg/*
!/.latexmkrc
!/.gitignore
**archive-contents
**archive-contents.signed
**~
**.pyc